/*GENERAL*/

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
  "nav nav"
  "sidebar output"
  "sidebar output";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 10fr;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

/*NAV*/

nav {
  background-color: #557A95;
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

h1 {
  font-size: 40px;
  font-weight: 300;
  color: #FFFFFF;
}

.nav__article {
  display: flex;
}

.nav__h1 {
  font-weight: 800;
}

.nav__img {
  height: 50px;
  margin-top: 45px;
}


h2 {
  font-size: 36px;
  font-weight: 300;
  color: #FFFFFF;
}

#header__h2--name {
  font-weight: 800;
  font-size: 40px;
}

/*HEADER*/

header {
  background-color: #B0B0B0;
  grid-area: sidebar;
  padding: 10px;
}

ul {
  padding-inline-start: 0px
}

li {
  list-style: none;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
}

.header__li {
  font-size: 14px;
  font-weight: 400;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
  border-top: black 2px solid;
}

.header__h3 {
  font-size: 14px;
  font-weight: 400;
}

output {
  display: grid;  
  /*grid-gap: 5px;  */
  /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
  /*grid-template-rows: repeat(2, 300px);*/
  background-color: #FFFFFF;
  grid-area: output;
  padding: 10px;
}

.section--hydration {
  height: 300px;
  width: 300px;
}

h4 {
  font-size: 24px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.canvas--hydration {
  /*background-color: #DEB887;*/
  padding: 10px;
  /*padding: 5px 35px 65px 35px;*/
/*  height: 200px;
  width: 200px;*/
}
